server:
  port: 8090

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: hotel-service
          uri: lb://hotel-service
          predicates:
            - Path=/api/hotels/**
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/book/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
