spring:
  application:
    name: booking-service

  config:
    import: optional:configserver:http://localhost:8888

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  circuitbreaker:
    instances:
      hotelServiceCircuitBreaker:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        event-consumer-buffer-size: 10
        register-health-indicator: true
  timelimiter:
    instances:
      hotelServiceCircuitBreaker:
        timeout-duration: 3s

management:
  endpoints:
    web:
      exposure:
        include: health,circuitbreakers,metrics, hotels
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true