spring:
  application:
    name: hotel-service

  config:
    import: optional:configserver:http://localhost:8888

server:
  port: 8090

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
