server:
  port: 8888

spring:
  application:
    name: config-server

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.r2dbc.R2dbcAutoConfiguration
      - org.springframework.boot.autoconfigure.r2dbc.ConnectionFactoryAutoConfiguration

  cloud:
    config:
      server:
        git:
          uri: file:///Users/orkhangasanov/Projects/spring-config-repo
